.btnBt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnBt .btn {
  border: none;
  background: none;
  outline: none;
  width: 160px;
  height: 40px;
  border: 1px solid #eee;
  color: #777;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px #eee;
  cursor: pointer;
}
